@model SurveyMVCBase1.Models.Survey

@{
    Layout = "~/Views/Shared/_Layout_S1.cshtml";
    ViewBag.Title = "S1PageEnd";
}

<h2>感谢您的参与</h2>

<div class="form-horizontal">
    <hr />
    <p>您的个人背景在现阶段达不到英国对企业家的要求， 但是我们可以根据您的情况为您提供适合的移民方式和建议，请联系我们。</p>
</div>

<div class="form-horizontal">
    <hr />
    <p>关注我们的微信公众号获取全方位的英国移民信息。</p>

    <img href="@Url.Content("~/~/Content/Site_Images/scanWechat.png")" alt="scan webchat" />
</div>



