@model IEnumerable<SurveyMVCBase1.Models.Survey>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-4">
        <h2>企业家移民咨询测试</h2>
        <img src="~/Images/imgLanding.png" alt="Landing Image" />
        <p>
            企业家移民咨询测试 - Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac dolor sed justo vestibulum tempus vel quis massa. Quisque at enim in felis ultricies tincidunt nec at lectus.
        </p>
    </div>
</div>


    <p>
        @Html.ActionLink("Workflow", "Workflow")
    </p>

