@model IEnumerable<SurveyMVCBase1.Models.Survey>

@{
    ViewBag.Title = "Summary";
}

<h2>Summary</h2>

<!--

1. Link to external 企业家心理测试
2. 退出
3. option 导出第四部分的 report

-->

<p>
    @Html.ActionLink("Summary", "Summary")
</p>

